@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

a.active hr {
    display: block;
}

* {
    font-family: 'Outfit', sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

.prata-regular {
    font-family: "Prata", serif;
    font-weight: 400;
    font-style: normal;
}

@media (max-width: 640px) {
    a.active {
        background-color: black;
        color: white;
    }

    .dark a.active {
        background-color: white;
        color: black;
    }
}

@layer components {

    .input-style {
        @apply border border-gray-300 dark:border-gray-600 rounded py-1.5 px-3.5 w-full bg-white dark:bg-gray-800 dark:text-white outline-none;
    }

    .payment-box {
        @apply flex items-center gap-3 border border-gray-300 dark:border-gray-600 p-2 px-3 cursor-pointer;
    }

    .radio {
        @apply min-w-3.5 h-3.5 border border-gray-400 rounded-full;
    }

}

@layer components {

    .review-card {
        animation: float 4s ease-in-out infinite;
    }

    .review-card:nth-child(2) {
        animation-delay: 1s;
    }

    .review-card:nth-child(3) {
        animation-delay: 2s;
    }

    .review-card:hover {
        animation-play-state: paused;
    }

}

@keyframes float {
    0% {
        transform: translateY(0px);
    }

    50% {
        transform: translateY(-12px);
    }

    100% {
        transform: translateY(0px);
    }
}